.blg_description .w-e-text-container{
    height: 300px !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
}

.blog_solve .w-e-text-container{
    height: 500px !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
}

.div_none{
    -webkit-user-select:none;

    -moz-user-select:none;

    -ms-user-select:none;

    user-select:none;
}
